.project
.pydevproject
.settings
.coverage
.idea/*
coverage.xml
xunit.xml
tmp/*
logs/*
*.pyc
*~
tags
cscope.*
build
sysinfo-*
MANIFEST
dist
*.egg-info*
docs/source/api/core
docs/source/api/test
docs/source/api/utils
docs/source/api/plugins
docs/source/api/optional-plugins
docs/source/guides/writer/libs/data/vmimage

# This file should be generated with:
# avocado config reference > docs/source/config/reference.rst
docs/source/config/reference.rst
