language: python

python:
    - "2.7_with_system_site_packages"
    - "2.6"

branches:
    only:
        - master

sudo: false

install:
    - pip install -r requirements-travis.txt
    - if [ $TRAVIS_PYTHON_VERSION == '2.6' ]; then pip install -r requirements-travis-python26.txt; fi

script:
    - inspekt lint
    - inspekt indent
    - inspekt style
    - ./selftests/cyclical_deps avocado
    - ./selftests/modules_boundaries
    - ./selftests/run
    - ./selftests/check_tmp_dirs
