language: python
python:
    - "2.7_with_system_site_packages"
    - "2.6"

branches:
    only:
        - master

before_install:
    - sudo apt-get update
    - sudo apt-get -y --force-yes install python-libvirt python-lzma libyaml-dev

install:
    - pip install -r requirements-travis.txt
    - if [ $TRAVIS_PYTHON_VERSION == '2.6' ]; then pip install -r requirements-travis-python26.txt; fi

script:
    - inspekt lint
    - inspekt indent
    - inspekt style
    - ./selftests/run -v selftests/all/functional
    - ./selftests/run -v selftests/all/unit
