language: python

python:
    - "2.7_with_system_site_packages"
    - "2.6"

branches:
    only:
        - master

cache:
    directories:
        - $HOME/.cache/pip

sudo: false

install:
    - pip install -r requirements-travis.txt

script:
    - inspekt lint
    - inspekt indent
    - inspekt style
    - ./selftests/cyclical_deps avocado
    - ./selftests/modules_boundaries
    - python setup.py develop
    - ./selftests/run
    - ./selftests/check_tmp_dirs
    - |
        ERR=""
        MASTER=$(git rev-parse origin/master)
        echo Master is $MASTER
        for COMMIT in $(git rev-list origin..HEAD); do
            echo
            echo "--------------------< $(git log -1 --oneline $COMMIT) >--------------------"
            echo
            echo
            git checkout $COMMIT || ERR=$(echo -e "$ERR\nUnable to checkout $(git log -1 --oneline $COMMIT)")
            python setup.py develop && make smokecheck || ERR=$(echo -e "$ERR\n$(git log -1 --oneline)")
        done
        if [ "$ERR" ]; then
            echo
            echo "Incremental smokecheck failed: $ERR"
            exit -1
        fi
