language: python

python:
    - "2.7_with_system_site_packages"
    - "2.6"

branches:
    only:
        - master
        - 36lts

cache:
    directories:
        - $HOME/.cache/pip

sudo: false

install:
    - pip install -r requirements-travis.txt

script:
    - inspekt lint
    - inspekt indent
    - inspekt style
    - ./selftests/cyclical_deps avocado
    - ./selftests/modules_boundaries
    - make link
    - ./selftests/run
    - ./selftests/check_tmp_dirs
    - |
        # First cleanup the previously installed files
        python setup.py develop --uninstall
        BINDIR=$(dirname $(which python))
        for FILE in scripts/*; do
            rm $BINDIR/$(basename $FILE)
        done
        # Run the "make check" per each commit in PR (TRAVIS_COMMIT_RANGE)
        ERR=""
        echo Branch is $TRAVIS_BRANCH
        for COMMIT in $(git rev-list $TRAVIS_COMMIT_RANGE~1); do
            echo
            echo "--------------------< $(git log -1 --oneline $COMMIT) >--------------------"
            echo
            echo
            git checkout $COMMIT || ERR=$(echo -e "$ERR\nUnable to checkout $(git log -1 --oneline $COMMIT)")
            SELF_CHECK_CONTINUOUS=y make check || ERR=$(echo -e "$ERR\nmake check of $(git log -1 --oneline) failed")
            make clean
        done
        if [ "$ERR" ]; then
            echo
            echo "Incremental smokecheck failed: $ERR"
            exit -1
        fi
