language: python
python:
    - "2.7"

branches:
    only:
        - master

virtualenv:
    system_site_packages: true

before_script:
    - sudo apt-get -y --force-yes install python-libvirt

install:
    - pip install sphinx tox pylint autopep8 flexmock
    - pip install inspektor
    - pip install -r requirements.txt

script:
    - inspekt lint
    - inspekt style
    - ./selftests/run -v selftests/all/doc
    - ./selftests/run -v selftests/all/functional
    - ./selftests/run selftests/all/unit -c selftests/.nose.cfg
