# Avocado test requirements

# inspektor (static and style checks)
pylint==2.3.0
astroid==2.2.0
inspektor==0.5.2

# funcsigs
funcsigs>=0.4

# To run make check
aexpect==1.5.1
psutil==5.4.7

# pycdlib is an optional requirement in production
# but is necessary for selftests
pycdlib==1.6.0

# this is a workaround since easy_install cannot install
# libvirt-python properly with the the current process
# in make develop. The proper solution would be migrate
# our make develop process to use pip
libvirt-python==5.9.0

# For avocado.utils.network selftests
netifaces

# For tests that validate the produced XUnit output
elementpath==1.1.8
xmlschema==1.0.11
