# Avocado development requirements

# inspektor (static and style checks)
isort==5.8.0
pyenchant==3.2.0
pylint==2.8.3
inspektor==0.5.2
autopep8==1.5.7

coverage==5.5

# To run make check
aexpect==1.6.1
psutil==5.8.0

# pycdlib is an optional requirement in production
# but is necessary for selftests
pycdlib==1.11.0

# For avocado.utils.network selftests
netifaces==0.11.0

# For tests that validate the produced XUnit output
elementpath==2.2.2
xmlschema==1.6.2

# For building the manpage
docutils==0.17.1
