# Avocado test requirements
# sphinx (doc build test)
Sphinx==1.7.8

# inspektor (static and style checks)
pylint==1.9.3; python_version <= '2.7'
pylint==2.2.0; python_version >= '3.4'
inspektor==0.5.2

# mock (some unittests use it)
mock>=2.0.0; python_version <= '2.7'

# six
six==1.11.0

# funcsigs
funcsigs>=0.4

# To run make check
Pillow==5.2.0
aexpect==1.5.1
psutil==5.4.7

# pycdlib is an optional requirement in production
# but is necessary for selftests
pycdlib==1.6.0

# stevedore for loading "new style" plugins
stevedore==1.29.0
lxml==4.2.4

# this is a workaround since easy_install cannot install
# libvirt-python properly with the the current process
# in make develop. The proper solution would be migrate
# our make develop process to use pip
libvirt-python==4.6.0

# For avocado.utils.network selftests
netifaces
