# Avocado functional requirements
# .tar.xz support (avocado.utils.archive)
backports.lzma>=0.0.10; python_version < '3.3'
# REST client (avocado.core.restclient)
requests>=1.2.3
# six is a stevedore depedency, but we also use it directly
six>=1.10.0
# stevedore for loading "new style" plugins
stevedore>=0.14
