# All pip installable requirements pinned for Travis CI
pycodestyle==2.4.0
pylint==1.9.3; python_version <= '2.7'
pylint==2.1.1; python_version >= '3.4'
fabric==1.11.1; python_version <= '2.7'
Fabric3==1.13.1.post1; python_version >= '3.4'
Sphinx==1.3b1
inspektor==0.5.2
pep8==1.7.1
requests==1.2.3
PyYAML==3.13
Pillow==2.8.1
mock==1.2.0; python_version <= '2.7'
aexpect==1.4.0
psutil==3.1.1
# six is a stevedore depedency, but we also use it directly
six==1.10.0
# stevedore for loading "new style" plugins
stevedore==1.20.0
lxml>=3.4.4
# some setuptools versions can fail accessing
# pkg_resources.packaging, let's pin the version
setuptools==25.1.1
libvirt-python==3.6.0
pycdlib==1.6.0
