# Avocado test requirements
# Setuptools
setuptools>=18.0.0
# sphinx (doc build test)
Sphinx>=1.3b1
# flexmock (some unittests use it)
flexmock>=0.9.7
# inspektor (static and style checks)
inspektor>=0.4.5
# mock (some unittests use it)
mock>=1.0.0
# six
six>=1.9.0
# funcsigs
funcsigs>=0.4
# To run make check
pep8>=1.6.2
Pillow>=2.2.1
snakefood>=1.4
networkx>=1.9.1
pygraphviz>=1.3rc2
pydot>=1.2.3
aexpect>=1.0.0
psutil>=3.1.1
# stevedore for loading "new style" plugins
stevedore>=0.14
lxml>=3.4.4
