# Avocado functional requirements
# multiplexer (avocado.core.tree)
PyYAML>=3.11
# .tar.xz support (avocado.utils.archive)
pyliblzma>=0.5.3
# REST client (avocado.core.restclient)
requests>=1.2.3
# stevedore for loading "new style" plugins
stevedore>=1.8.0
