.font-weight-normal {
    font-weight: normal;
}

.popover-content {
    word-break: break-all;
}

#results {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}

/* Restrict cells to a maximum width */
.dataTable th, .dataTable div {
    max-width: 10em;
    min-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Basic metadata for svg */
.icon {
    padding-left: 11px;
    padding-right: 11px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    display: table-cell;
}

.icon.icon-logs {
    background-image: url("data:image/svg+xml;base64,{{ data.logs_icon|safe }}");
}

.icon.icon-whiteboard {
    background-image: url("data:image/svg+xml;base64,{{ data.whiteboard_icon|safe }}");
}
