.spnTooltip {
    display:none;
    z-index: 10;
    padding:14px 20px;
    position:absolute;
    color:#111;
    border:1px solid #337ab7;
    background:#fff;
    white-space: pre-wrap;
}
.font-weight-normal {
    font-weight: normal;
}
/* Restrict cells to a maximum width */
.dataTable th, .dataTable div {
    max-width: 14.3em;
    min-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Basic metadata for svg */
.icon {
    padding-left: 11px;
    padding-right: 11px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    display: table-cell;
}
#icon-logs {
    background-image: url("data:image/svg+xml;base64,{{ data.logs_icon|safe }}");
}
#icon-whiteboard {
    background-image: url("data:image/svg+xml;base64,{{ data.whiteboard_icon|safe }}");
}
