# This is just a example file. Insert this file inside your project root
# folder and Avocado Next Runner will use it.
#
# Each "kind" must have a section with the same name. Here, note that
# tap has a section named 'tap'. On that section you need to specify
# uri, args and kwargs for your specific runner kind.

[kinds]
# Declare here all your tests by types (kind).
# You can use lists and wildcards. For each test Avocado will try to call the
# specific runner.
tap = ./scripts/*/*.t

[tags]
# You can use tags to a better organization. All tests defined
# here must be classified before on 'tests' section.
# Note: Tags is not being used yet.
domain = ./scripts/domain/*.t
network = ./scripts/networks/*.t
slow = ./scripts/domain/*.t,./scripts/networks/*.t

[tap]
# Configure here uri, arg and kwargs for tap. If you don't have uri, arg and
# kwargs configure, Avocado will try to run the tests as executables without
# args and kwargs. You can use "$testpath" on uri,arg or kwargs and Avocado
# will iterate over it.
uri = perl
args = $testpath
kwargs = PATH=/usr/bin:/usr/sbin,PERL5LIB=./lib,LIBVIRT_TCK_CONFIG=./conf/default.cfg,LIBVIRT_TCK_AUTOCLEAN=1
