name: Avocado Gating CI

on: [push, pull_request]

jobs:
  lint:
    name: Logical, stylistic, analytical and formatter checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Installing selftests requirements
        run: pip install -r requirements-selftests.txt

      - name: Installing Avocado in develop mode
        run: python3 setup.py develop --user

      - name: Avocado version
        run: avocado --version

      - name: Running lint checks
        run: python3 setup.py lint
